/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
/*
=============== 
Variables
===============
*/
:root {
  /* colors */
  --clr-Very-Dark-Blue: hsl(243, 87%, 12%);
  --clr-Desaturated-Blue: hsl(238, 22%, 44%);

  /* ### Accent */

  --clr-Bright-Blue: hsl(224, 93%, 58%);
  --clr-Moderate-Cyan: hsl(170, 45%, 43%);

  /* ### Neutral */

  --clr-Light-Grayish-Blue: hsl(240, 75%, 98%);
  --clr-Light-Gray: hsl(0, 0%, 75%);

  /* Fonts */
  --ff-headings: "Raleway", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  /* Shadows */
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  /* transition */
  --transition: all 0.3s linear;
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-body);
  background: #fff;
  color: var(--clr-Very-Dark-Blue);
  font-size: 14px;
  text-align: center;
}
img:not(.arrow-img) {
  display: block;
  width: 100%;
}
h1,
h2,
h3,
h4 {
  font-family: var(--ff-headings);
}
/* main styles */
.section-center {
  width: 88vw;
  max-width: 1440px;
  margin: 0 auto;
}
/* header */
header {
  padding-bottom: 8rem;
  padding-top: 1.5rem;
  background-image: url("../images/bg-curve-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
/* navbar */
.nav-bar {
  display: grid;
  grid-auto-flow: column;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.logo {
  width: 80px;
}
.links {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1.5rem;
}
.links a {
  text-decoration: none;
  font-size: 0.7rem;
  color: var(--clr-Very-Dark-Blue);
}
/* header media queries */
@media screen and (min-width: 1100px) {
  header {
    padding-top: 4rem;
    background-image: url("../images/bg-curve-desktop.svg");
  }
  .logo {
    width: 160px;
  }
  .links a {
    font-size: 1rem;
    opacity: 0.7;
  }
  .links {
    column-gap: 4rem;
  }
}
/* hero */
.hero-col-1 img {
  margin-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero-col-2 h1 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.hero-col-2 p {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1.5rem;
}
.hero-cta {
  display: grid;
  padding-left: 1rem;
  padding-right: 1rem;
  row-gap: 0.8rem;
}
.email-input {
  padding: 0.7rem 1rem;
}
.email-input::placeholder {
  font-size: 0.8rem;
  opacity: 0.2;
}
.btn {
  color: rgba(255, 255, 255, 0.9);
  background-color: var(--clr-Bright-Blue);
  border: none;
  padding: 0.7rem;
  border-radius: 4px;
  box-shadow: var(--light-shadow);
  font-weight: bold;
  margin-bottom: 1rem;
  transition: var(--transition);
}
.btn:hover {
  filter: brightness(1.5);
  cursor: pointer;
}
/* hero Media queries*/
@media screen and (min-width: 1000px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
    margin-bottom: 7rem;
  }
  .hero-col-1 {
    order: 2;
  }
  .hero-col-1 img {
    padding: 0;
  }
  .hero-col-2 h1 {
    font-size: 2.5rem;
    margin-bottom: 0.6rem;
  }
  .hero-cta {
    all: unset;
  }
  .hero-col-2 p {
    padding: 0;
    font-size: 1.2rem;
  }
  .email-input {
    width: 54%;
    margin-right: 0.8rem;
    height: 45px;
  }
  .btn {
    width: 32%;
    height: 45px;
    color: rgba(255, 255, 255, 0.8);
  }
}
/* productive section */
.productive {
  background-color: var(--clr-Light-Grayish-Blue);
  padding-bottom: 5rem;
}
.productive-col-1 img {
  margin-bottom: 4rem;
}
.productive-col-2 h2 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.productive-col-2 p {
  opacity: 0.6;
  text-align: left;
  margin-bottom: 1rem;
}
.productive-col-2 p:nth-child(3) {
  margin-bottom: 2rem;
}
/* .arrow-img {
  display: inline;
  width: 20px;
} */
.how-it-works {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--clr-Moderate-Cyan);
  width: 138px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
  padding-bottom: 0.25rem;
}
.how-it-works a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--clr-Moderate-Cyan);
  margin-right: 0.25rem;
}
.review-container {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}
.review-box {
  background-color: white;
  border-radius: 6px;
  padding: 1.2rem 0.6rem 1.2rem 1.5rem;
  box-shadow: var(--light-shadow);
}
.review-box p {
  font-size: 0.7rem;
  color: black;
  line-height: 1.6;
}
.quotes-img {
  width: 11px;
  height: auto;
  margin-bottom: 0.5rem;
}
.review-profile {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  text-align: left;
  align-items: center;
}
.profile-img {
  width: 25px;
  margin-right: 0.5rem;
}
.profile-img img {
  border-radius: 50%;
}
.profile-details p {
  margin-bottom: 0;
  font-size: 0.4rem;
}
.profile-details h3 {
  font-size: 0.6rem;
  margin-bottom: 0.1rem;
}
/* productive media queries */
@media screen and (min-width: 1000px) {
  .productive {
    padding-top: 4rem;
  }
  .productive-center {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
    column-gap: 4.8rem;
    margin-bottom: 2rem;
  }
  .productive-col-1 {
    order: 2;
  }
  .productive-col-1 img {
    margin-bottom: 0;
  }
  .productive-col-2 h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: left;
  }
  .productive-col-2 p {
    font-size: 1rem;
    opacity: 0.9;
    /* width: 76%; */
  }
  .productive-col-2 p:nth-of-type(2) {
    margin-bottom: 1rem;
  }
  .how-it-works {
    margin-left: 0;
    margin-right: auto;
    width: 166px;
  }
  .how-it-works a {
    font-size: 1rem;
  }
  .review-container {
    padding: 0;
  }
  .review-box {
    padding: 1.8rem 0rem 1.8rem 2rem;
    width: 330px;
    /* width: 420px; */
  }
  .review-box p {
    font-size: 0.8rem;
    padding-right: 2.2rem;
    line-height: 1.8;
  }

  .quotes-img {
    width: 14px;
    height: auto;
    margin-bottom: 0.8rem;
  }
  .profile-img {
    width: 32px;
  }
  .profile-details {
    width: 200px;
  }
  .profile-details h3 {
    font-size: 0.7rem;
  }

  .profile-details p {
    font-size: 0.5rem;
    margin-right: 0;
  }
}
/* signup css */
.sign-up {
  background-color: var(--clr-Desaturated-Blue);
  padding-top: 3.5rem;
  padding-bottom: 4rem;
  color: white;
}
.sign-up-col-1 h2 {
  font-size: 1.1rem;
  opacity: 0.9;
  margin-bottom: 1.2rem;
}
.sign-up-col-1 p {
  opacity: 0.75;
  line-height: 1.4;
  padding: 0 1.6rem;
  margin-bottom: 1.5rem;
}
.sign-up-col-2 {
  display: grid;
}
.sign-up-email {
  width: 230px;
  margin: 0 auto;
  padding: 0.5rem;
  margin-bottom: 0.4rem;
}
.sign-up-email::placeholder {
  font-size: 0.8rem;
  opacity: 0.2;
}
.btn-sign-up {
  font-size: 0.6rem;
  width: 230px;
  margin: 0 auto;
  padding: 0.6rem;
  margin-bottom: 0.4rem;
}
/* sign up media queries */
@media screen and (min-width: 1000px) {
  .sign-up {
    padding-top: 6rem;
  }
  .sign-up-center {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
    column-gap: 4.8rem;
    text-align: left;
  }
  .sign-up-col-1 h2 {
    font-size: 2rem;
  }
  .sign-up-col-1 p {
    padding: 0;
    font-size: 1.1rem;
    padding-right: 6rem;
  }
  .sign-up-col-2 {
    justify-self: start;
  }
  .sign-up-email {
    width: 480px;
    padding: 1rem 1.2rem;
    border-radius: 4px;
    border: none;
    margin-bottom: 1rem;
  }
  .btn-sign-up {
    margin: 0;
    font-size: 0.8rem;
    padding: 0.5rem;
    width: 200px;
  }
}
/* footer css */
.footer-section {
  background-color: var(--clr-Very-Dark-Blue);
  padding-top: 4rem;
  padding-bottom: 2.5rem;
}
.footer-section .section-center {
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer-section p {
  font-size: 1rem;
  opacity: 0.8;
}
.footer-section a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  opacity: 0.8;
  margin-bottom: 1rem;
  cursor: pointer;
}
.footer-logo {
  width: 180px;
  margin-bottom: 2.5rem;
}
.location,
.mail {
  display: grid;
  grid-auto-flow: column;
  color: white;
  align-items: center;
  justify-content: start;
}
.location img,
.mail img {
  width: 20px;
  height: auto;
  margin-right: 1rem;
}
.location {
  margin-bottom: 1rem;
}
.mail {
  margin-bottom: 3rem;
}
.col-2,
.col-3 {
  display: grid;
  justify-content: start;
  text-align: left;
  margin-bottom: 2rem;
}
.social-icons {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  column-gap: 0.8rem;
}
.social-icons .fab {
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: #fff;
  height: 28px;
  width: 28px;
  opacity: 0.8;
  display: grid;
  align-items: center;
  transition: var(--transition);
}
.social-icons .fab:hover {
  color: var(--clr-Bright-Blue);
  border: 1px solid var(--clr-Bright-Blue);
  cursor: pointer;
  filter: brightness(1.5);
}
/* footer media queries */
@media screen and (min-width: 1000px) {
  .footer-section .section-center {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 3rem;
  }
  .footer-logo {
    margin-bottom: 1.5rem;
  }
  .footer-columns {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: flex-start;
  }

  .col-2,
  .col-3,
  .col-4 {
    justify-self: center;
  }
}
